.body-text{
  color: beige;
  font-family: monospace;
  font-size: large;
}

.heading-text{
  color: beige;
  font-family: monospace;

}

h1 {
  font-family: monospace;
  font-size: 50px;
  color: beige;
}

h2 {
  font-family: monospace;
  font-size: 35px;
  color: beige;
}

.badge-text{
  font-family: monospace;
  font-size: 20px;
  color: beige;

}



