.body-text{
  color: beige;
  font-family: monospace;
  font-size: large;
}

.heading-text{
  color: beige;
  font-family: monospace;

}

h1 {
  font-family: monospace;
  font-size: xx-large;
  color: beige;
}